/*Font*/
.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
/*Navbar style*/
.header{
    display: flex;
    gap: 150px;
    padding: 19px 150px;
    justify-content: space-between;
}
.bd{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.signin-btn{
    color: #006A50;
    font-size: 18px;
    font-weight: 500;
    border-color: #006A50;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    width: 100px;
    height: 52px;
}

/*Banner styles*/
.banner{
    background-color: #C6E4D6;
    border-radius: 24px;
    max-width: 1290px;
    max-height: 560px;
    margin: 0 160px;
    display: flex;
}
.banner-text{
    margin: 70px 45px;
    line-height: 65px;
}
.banner-text h4{
    font-size: 24px;
    font-weight: 700;
    color: #787777;
}
.banner-text h3{
    font-size:40px;
    font-weight: bold;
    margin-top: -50px;
}
.banner-btn{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    height: 56px;
    width: 270px;
    border: none;
    margin-top: -90px;
}
.banner-img{
    width: 470px;
    height: 450px;
    margin: 80px;
}

/*Future vision styles*/
.vision{
    margin: 60px 160px;
}
.vision h3{
    font-size: 40px;
    font-weight: bold;
}
.vision-details{
    font-size: 16px;
    font-weight: normal;
    margin-top: -24px;
    opacity: 70%;
    color: #0E0E0E;
}
.vision-cards{
    display: flex;
    gap: 20px;
}
/* DT-card */
.DT-card{
    background-color: #548ff54f;
    border-radius: 16px;
    width: 380px;
    height: 300px;
    line-height: 20px;
}
.DT-card img{
    margin: 32px 315px 0px 40px;
}
.DT-card h4{
    margin: 16px 10px 0px 40px;
}
.DT-card p{
    margin: 16px 10px 0px 40px;
}
.DT-card button{
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    margin: 16px 10px 0px 40px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
/* GE card */
.GE-card{
    background-color: #C6E4D6;
    border-radius: 16px;
    width: 380px;
    height: 300px;
    line-height: 20px;
}
.GE-card img{
    margin: 32px 315px 0px 40px;
}
.GE-card h4{
    margin: 16px 10px 0px 40px;
}
.GE-card p{
    margin: 16px 10px 0px 40px;
}
.GE-card button{
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    margin: 16px 10px 0px 40px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
/* MI card */
.MI-card{
    background-color: #F7EBCF;
    border-radius: 16px;
    width: 380px;
    height: 300px;
    line-height: 20px;
}
.MI-card img{
    margin: 32px 315px 0px 40px;
}
.MI-card h4{
    margin: 16px 10px 0px 40px;
}
.MI-card p{
    margin: 16px 10px 0px 40px;
}
.MI-card button{
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    margin: 16px 10px 0px 40px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
